@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@keyframes fadeIn {
    0% {
      max-height: 0;
    }
    50% {
      max-height: 50vh;
    }
    100% {
      max-height: 100vh;
    }
  }
  
  .animate-fade-in {
    animation: fadeIn 1s ease-in-out; 
    overflow: hidden; 
  }

  .animate-left-right{
    animation: left-right 1.5s ease-in-out;
    overflow: hidden; 
  }

  @keyframes left-right {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0%);
    }
   

  }


body{
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}



.navitems{
  font-size: 18px;
}

.heading{
  font-family: 'Roboto', sans-serif;
}

@keyframes changecolor {
  0% {
    background-color: white;
  }
  50% {
    background-color: #ba2b2b;
  }
  100% {
    background-color: #c00404;
  }

}

.animate-color:hover {
  animation: changecolor 0.5s ease-in-out;
  color: white;
    background-color: #c00404;
  } 

