@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@100&family=Open+Sans:wght@500&family=Roboto:wght@500&display=swap');

.content{
    background-color: #F4F8FD;
}

.events{
    background-color: #F4F8FD;
}


*{
    font-family: 'Lato', sans-serif;
}

.btn{
    font-family: 'Lato', sans-serif;
}

.cells{
    border: none;
}

.body2{
    font-size: 1rem;
}