@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@700&display=swap');

*{
    font-family: "Open Sans", sans-serif;
}

.Heading{
    font-family: "Open Sans", sans-serif;
    font-size: 60px;
    font-weight: 300;
}

.program_item {
    padding: 10px;
    margin: 5px;
    box-shadow: 0 0px 0px 0;
}


.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0.85rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}

.Outcomes{
    margin: auto;
}