@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@500&family=Roboto:wght@500&display=swap');
.heading-top{
    border-left: 5px solid #c00404;
}

.pictures{
    display: -ms-inline-grid;
    grid-template-columns: auto auto;
}

.lab-details{
    font-family: 'Open Sans', sans-serif;
}


.carousel1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }



.lab-heading{
    font-weight: 600;
    font-size:28px;
}

.carousel-item{
	height:500px;
}
#infra-table{
    margin: auto auto;
}

.lab9{
    margin: auto auto;
}

