@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&family=Open+Sans:wght@500');
.grid1{
height: 750px;
}

.Title {
    font-family: "Montserrat", sans-serif;
    line-height: 1.3;
    z-index: 10;
    text-align: center;
    position: absolute;
    bottom: 20%; /* Adjust this value as needed */
    left: 50%;
    display: block;
    max-width: 90%;
    transform: translateX(-50%);
}





.carousel-caption {
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 10px; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
}




.indicator {
    background-color: white;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
    border: none;
    outline: none;
    margin: 0 0.2rem;
    cursor: pointer;
}
  
.indicator-inactive {
    background-color: grey;
}