.education{
    font-weight: 100;
    color:  rgb(33, 37, 41);
}

.faculty-image{
    float: left;
}

.heading-top{
  border-left: 5px solid #c00404;
}


.details{
    background-color: #F8F9FA;
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #8e8c8c; /* Change color to match your design */
    border-radius: 12px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Change color to match your design */
    border-radius: 12px;
  }

li{
  cursor:pointer;
}